@page
@model SI.Project.IdentityServer.Pages.Register.IndexModel
@{
}

<h1>
    Register
</h1>
<partial name="_ValidationSummary" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.RegisterModel.Username"></label>
                <input class="form-control" asp-for="@Model.RegisterModel.Username" autofocus />
            </div>
            <div class="form-group">
                <label asp-for="@Model.RegisterModel.Email"></label>
                <input class="form-control" asp-for="@Model.RegisterModel.Email" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.RegisterModel.Password"></label>
                <input class="form-control" asp-for="@Model.RegisterModel.Password" type="password" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.RegisterModel.ConfirmPassword">Confirm Password</label>
                <input class="form-control" asp-for="@Model.RegisterModel.ConfirmPassword" type="password" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>